* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background-color: #021638;
    color: #fff;
}

/* Sidebar */

.sidebar {
    width: 200px;
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    padding: 20px;
}

.sidebar img {
    width: 80px;
    margin: 0 auto;
}

.sidebar h2 {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

.sidebar h2 a {
    color: inherit;
    text-decoration: none;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    display: block;
}
.sidebar nav a:hover {
    color: #2b016a;
    text-decoration: none;
    display: block;
}

.sidebar nav a:nth-child(5) {
    font-weight: bold;
    margin-top: 10px;
}

.sidebar nav div {
    margin-left: 20px;
}

/* Header */

.header {
    background-color:  #021638;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    color: #04ba11;
    font-size: 2rem;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}
.nav-links a:hover {
    color: #ffd700;
    text-decoration: none;
    font-weight: 300;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle span {
    height: 3px;
    background: #fff;
    margin: 4px 0;
    width: 25px;
}

/* Main */

main {
    position: absolute;
    left: 200px;
    top: 100px;
    bottom: 0;
    right: 0;
}

.hero {
    background : url('images/modif.jpeg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #08224c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 3s ease;
}

.hero h1 {
    font-size: 4rem;
    color: #04ba11;
    text-shadow: 2px 2px 5px #000;
}

section {
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    animation: fadeInUp 1s ease;
}

h2 {
    font-size: 40px;
    margin: 10px 0;
    color: #04ba11;
}
h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #b3afec;
}

p {
    text-align: justify;
    margin-bottom: 10px;
}

ul {
    margin: 10px 0;
}

ul li {
    margin-left: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 25px;
}

.card {
    background-color: #08224c; 
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}


.row .card:first-child {
    margin-bottom: 40px;
}

.gambar-produk img {
    width: 100%;
    border-radius: 10px;
    margin: 20px auto;
}

.gambar-profil img {
    width: 25%;
    border-radius: 0px;
    margin: 20px auto;
}

.map {
    width: 100%;
    height: 400px;
}

footer {
    border-top: 10px solid #111;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
}

/* Gallery */

.gallery img,
.clients img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Artikel */

.artikel {
    background-color: #08224c;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}

.artikel img {
    width: 100%;
    border-radius: 5px;
    margin: 20px auto;
}

.artikel h1 {
    font-size: 4rem;
    color: #ffd700;
    text-shadow: 2px 2px 5px #000;
}

.artikel a {
    color: #91c6ff;
    text-decoration: none;
}

.pagination {
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pagination a {
    display: inline-block;
    height: 40px;
    background-color: #ffd83b;
    padding: 8px 16px;
    margin: 2px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    transition: background-color .3s;
}

.pagination a:hover {
    background-color: #ffb600;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
    clear: both;
}

/* Login */

.login {
    background-color: #08224c;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 25vh;
}

.login h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    color: #c06e0e;
}

.login form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 10px;
}

.login form input {
    padding: 12px;
    border-radius: 10px;
    border: none;
}

.login form button {
    padding: 12px;
    background-color: #04ba11;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s
}

.login form button:hover {
    background-color: #01920b;
}

/* pesan */

.pesan form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    gap: 10px;
}

.pesan form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.pesan form button {
    padding: 10px;
    background-color: #04ba11;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s
}

.pesan form button:hover {
    background-color: #01920b;
}

/* Media Queries - Responsive */

.hidden {
    display: none;
}

@media (max-width: 768px) {

    main {
        position: absolute;
        left: 0;
        top: 0;
    }

    .sidebar {
        display: none;
    }

    .header {
        background-color: #111;
        padding: 15px 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background: #111;
        position: absolute;
        right: 0;
        top: 80px;
        width: 100%;
        padding: 10px 20px;
    }

    .nav-links.hidden.active {
        display: flex;
    }

    .nav-toggle {
        display: flex;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Other */
.iframe {
    overflow: hidden;
}

iframe {
    width: 100vw;
    height: 100vh;
}

.artikel button {
    color: darkred;
    text-align: center;
    font-size: 1rem;
    padding: 6px 6px 6px 6px;
}
